"*":
  Hydrogen:
    languageMappings: "{\"python\" : \"magicpython\"}"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "linter"
      "linter-clang"
      "linter-ui-default"
      "rust-api-docs-helper"
      "autocomplete-ruby"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "Chromodynamics"
    ]
  editor:
    fontSize: 17
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "6a9330cd-c043-4817-b843-29652f846821"
  fonts:
    fontFamily: "FiraCode"
  "linter-ui-default": {}
  minimap:
    plugins:
      selection: true
      selectionDecorationsZIndex: 0
  "todo-show": {}
  welcome:
    showOnStartup: false
